@import "tailwindcss";

.gradient-bg {
  background: linear-gradient(
    90deg,
    rgba(42, 102, 9, 1) 0%,
    rgba(227, 218, 98, 1) 51%,
    rgba(237, 104, 21, 1) 99%
  );
}

@media (max-width: 768px) {
  .navlink{
    position: absolute;
    top: 74px;
    right:-220px;
    padding: 20px;
    background-color: white;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    border: 1px solid #ccc;
  }
  .navlink_active{
    right: 0;
    transition: right 0.3s ease-in-out;
  }
}
