@import "tailwindcss";

.gradient-bg {
  background: linear-gradient(
    90deg,
    rgba(42, 102, 9, 1) 0%,
    rgba(227, 218, 98, 1) 51%,
    rgba(237, 104, 21, 1) 99%
  );
}
.navlink_responsive {
  position: fixed;
  top: 73px;
  right: -210px;
  border: 1px solid #e5e7eb;
  padding: 1rem;
  text-align: center;
}
.navlink_active {
  right: 0;
  transition: right 0.5s ease-in-out;
}
